*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin animButton{
  &:hover{
    transform: scale(1.03);
    transition: all 0.1s;
  }
  &:active{
    transform: scale(0.97);
    transition: all 0.1s;
  }
}

.wrapper{
  width: 100%;
  height: 100vh;
  background-color: #172041;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    &__headerMenu{
      position: absolute;
      top: 50px;
      width: 600px;
      height: auto;
      padding: 15px 30px;
      border: 3px solid #5b6b85;
      border-radius: 15px;
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3){
        color: white;
        font-weight: bold;
        font-size: 30px;
      }
    }
    &__headerGame{
      position: absolute;
      top: 50px;
      width: 600px;
      height: auto;
      padding: 15px 30px;
      border: 3px solid #5b6b85;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_title{
        p:nth-child(1),
        p:nth-child(2),
        p:nth-child(3){
          color: white;
          font-weight: bold;
          font-size: 30px;
        }
      }
      &_score{
        height: 120px;
        width: 120px;
        border-radius: 10px;
        background-color: #fbfbfb;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p:nth-child(1){
          color: #283991;
          font-size: 15px;
          letter-spacing: 3px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        p:nth-child(2){
          color: #565468;
          font-size: 55px;
          font-weight: bold;
          margin-top: -15px;
        }
      }
    }
    &__rules{
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 100px;
      height: auto;
      padding: 10px;
      border: 2px solid #8a8ea9;
      border-radius: 5px;
      outline: none;
      background-color: transparent;
      font-size: 20px;
      color: white;
      cursor: pointer;
      transition: all 0.1s;
      position: absolute;
      @include animButton
    }
    &__modal{
      width: 100%;
      height: 100vh;
      z-index: 10;
      background-color: #0a10208a;
      display: flex;
      align-items: center;
      justify-content: center;
      &_rulesBlock{
        width: 350px;
        height: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        &_titleBlock{
          display: flex;
          align-items: center;
          justify-content: space-between;
          &_title{
            font-size: 20px;
            font-weight: bold;
            color: #38405e;
          }
          &_close{
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            color: #cecfd4;
            transition: all 0.1s;
            @include animButton
          }
        }
      &_rulesBox{
        width: 100%;
        height: auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media(max-width: 768px){
  .wrapper{
    &__headerMenu,
    &__headerGame{
      width: 95%;
    }
  }
}

@media(max-width: 425px){
  .wrapper{
    &__headerMenu{
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3){
        color: white;
        font-weight: bold;
        font-size: 20px;
      }
    }
    &__headerGame{
      width: 95%;
      &_title{
        p:nth-child(1),
        p:nth-child(2),
        p:nth-child(3){
          font-size: 20px;
        }
      }
      &_score{
        height: 90px;
        width: 90px;
        p:nth-child(1){
          font-size: 13px;
          margin-bottom: 10px;
        }
        p:nth-child(2){
          font-size: 40px;
        }
      }
    }
  }
}

@media(max-width: 375px){
  .wrapper{
    &__headerMenu{
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3){
        color: white;
        font-weight: bold;
        font-size: 18px;
      }
    }
    &__headerGame{
      width: 95%;
      &_title{
        p:nth-child(1),
        p:nth-child(2),
        p:nth-child(3){
          font-size: 18px;
        }
      }
      &_score{
        p:nth-child(1){
          font-size: 12px;
          margin-bottom: 10px;
        }
        p:nth-child(2){
          font-size: 35px;
        }
      }
    }
    &__modal{
      &_rulesBlock{
        margin: 0px 20px;
        width: 320px;
        &_rulesBox{
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 250px;
            height: 230px;
          }
        }
      }
    }
  }
}