* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #172041;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper__headerMenu {
  position: absolute;
  top: 50px;
  width: 600px;
  height: auto;
  padding: 15px 30px;
  border: 3px solid #5b6b85;
  border-radius: 15px;
}
.wrapper__headerMenu p:nth-child(1),
.wrapper__headerMenu p:nth-child(2),
.wrapper__headerMenu p:nth-child(3) {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.wrapper__modeForPlay {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.wrapper__modeForPlay button {
  border: none;
  outline: none;
  cursor: pointer;
}
.wrapper__modeForPlay button:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.wrapper__modeForPlay button:active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.wrapper__modeForPlay button {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}
.wrapper__modeForPlay button:nth-child(1) {
  border: 3px solid #a01431;
  color: #f72f57;
  background-color: rgba(160, 20, 48, 0.3960784314);
}
.wrapper__modeForPlay button:nth-child(2) {
  border: 3px solid #51bdd2;
  color: #2aadd8;
  background-color: rgba(46, 142, 174, 0.3921568627);
}
.wrapper__headerGameStandard, .wrapper__headerGameModern {
  position: absolute;
  top: 50px;
  width: 600px;
  height: auto;
  padding: 15px 30px;
  border: 3px solid #5b6b85;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper__headerGameStandard_title p:nth-child(1),
.wrapper__headerGameStandard_title p:nth-child(2),
.wrapper__headerGameStandard_title p:nth-child(3), .wrapper__headerGameModern_title p:nth-child(1),
.wrapper__headerGameModern_title p:nth-child(2),
.wrapper__headerGameModern_title p:nth-child(3) {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.wrapper__headerGameStandard_score, .wrapper__headerGameModern_score {
  height: 115px;
  width: 115px;
  border-radius: 10px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper__headerGameStandard_score p:nth-child(1), .wrapper__headerGameModern_score p:nth-child(1) {
  color: #283991;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 5px;
}
.wrapper__headerGameStandard_score p:nth-child(2),
.wrapper__headerGameStandard_score p:nth-child(3),
.wrapper__headerGameStandard_score p:nth-child(4), .wrapper__headerGameModern_score p:nth-child(2),
.wrapper__headerGameModern_score p:nth-child(3),
.wrapper__headerGameModern_score p:nth-child(4) {
  color: #565468;
  font-size: 16px;
  font-weight: bold;
}
.wrapper__headerGameStandard_choiseBlock, .wrapper__headerGameModern_choiseBlock {
  width: 350px;
  height: 300px;
  margin-top: 120px;
  position: relative;
}
.wrapper__headerGameStandard_choiseBlock_firstItem, .wrapper__headerGameModern_choiseBlock_firstItem {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  border: 17px solid #5671f5;
  border-radius: 50%;
  outline: none;
  background-color: #dfdfdf;
}
.wrapper__headerGameStandard_choiseBlock_firstItem:hover, .wrapper__headerGameModern_choiseBlock_firstItem:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.wrapper__headerGameStandard_choiseBlock_firstItem:active, .wrapper__headerGameModern_choiseBlock_firstItem:active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.wrapper__headerGameStandard_choiseBlock_firstItem, .wrapper__headerGameModern_choiseBlock_firstItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 0px #2945c1;
}
.wrapper__headerGameStandard_choiseBlock_secondItem, .wrapper__headerGameModern_choiseBlock_secondItem {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 0;
  border: 17px solid #efa319;
  border-radius: 50%;
  outline: none;
  background-color: #dfdfdf;
}
.wrapper__headerGameStandard_choiseBlock_secondItem:hover, .wrapper__headerGameModern_choiseBlock_secondItem:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.wrapper__headerGameStandard_choiseBlock_secondItem:active, .wrapper__headerGameModern_choiseBlock_secondItem:active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.wrapper__headerGameStandard_choiseBlock_secondItem, .wrapper__headerGameModern_choiseBlock_secondItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 0px #c56d1f;
}
.wrapper__headerGameStandard_choiseBlock_thirdItem, .wrapper__headerGameModern_choiseBlock_thirdItem {
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border: 17px solid #dd4260;
  border-radius: 50%;
  outline: none;
  background-color: #dfdfdf;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 0px #a01737;
}
.wrapper__headerGameStandard_choiseBlock_thirdItem:hover, .wrapper__headerGameModern_choiseBlock_thirdItem:hover {
  transform: translateX(-50%) scale(1.03);
  transition: all 0.1s;
}
.wrapper__headerGameStandard_choiseBlock_thirdItem:active, .wrapper__headerGameModern_choiseBlock_thirdItem:active {
  transform: translateX(-50%) scale(0.98);
  transition: all 0.1s;
}
.wrapper__headerGameStandard_blockResult, .wrapper__headerGameModern_blockResult {
  width: 550px;
  height: 400px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}
.wrapper__headerGameStandard_blockResult_userItemBlock, .wrapper__headerGameModern_blockResult_userItemBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper__headerGameStandard_blockResult_userItemBlock p, .wrapper__headerGameModern_blockResult_userItemBlock p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.wrapper__headerGameStandard_blockResult_userItemBlock_userPaper, .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors, .wrapper__headerGameStandard_blockResult_userItemBlock_userRock, .wrapper__headerGameModern_blockResult_userItemBlock_userPaper, .wrapper__headerGameModern_blockResult_userItemBlock_userScissors, .wrapper__headerGameModern_blockResult_userItemBlock_userRock {
  width: 200px;
  height: 200px;
  border: 20px solid #5671f5;
  border-radius: 50%;
  outline: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 0px #2945c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__headerGameStandard_blockResult_userItemBlock_userPaper img, .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors img, .wrapper__headerGameStandard_blockResult_userItemBlock_userRock img, .wrapper__headerGameModern_blockResult_userItemBlock_userPaper img, .wrapper__headerGameModern_blockResult_userItemBlock_userScissors img, .wrapper__headerGameModern_blockResult_userItemBlock_userRock img {
  width: 80px;
  height: 80px;
}
.wrapper__headerGameStandard_blockResult_userItemBlock_userScissors, .wrapper__headerGameModern_blockResult_userItemBlock_userScissors {
  border: 20px solid #efa319;
  box-shadow: 0px 8px 0px #c56d1f;
}
.wrapper__headerGameStandard_blockResult_userItemBlock_userRock, .wrapper__headerGameModern_blockResult_userItemBlock_userRock {
  border: 20px solid #dd4260;
  box-shadow: 0px 8px 0px #a01737;
}
.wrapper__headerGameStandard_blockResult_CPUItemBlock, .wrapper__headerGameModern_blockResult_CPUItemBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper__headerGameStandard_blockResult_CPUItemBlock p, .wrapper__headerGameModern_blockResult_CPUItemBlock p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUPaper, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPUPaper, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPUScissors, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPURock {
  width: 200px;
  height: 200px;
  border: 20px solid #5671f5;
  border-radius: 50%;
  outline: none;
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 0px #2945c1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUPaper img, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors img, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock img, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPUPaper img, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPUScissors img, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPURock img {
  width: 80px;
  height: 80px;
}
.wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPUScissors {
  border: 20px solid #efa319;
  box-shadow: 0px 8px 0px #c56d1f;
}
.wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock, .wrapper__headerGameModern_blockResult_CPUItemBlock_CPURock {
  border: 20px solid #dd4260;
  box-shadow: 0px 8px 0px #a01737;
}
.wrapper__headerGameModern_choiseBlockModern {
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.wrapper__headerGameModern_title p:nth-child(1),
.wrapper__headerGameModern_title p:nth-child(2),
.wrapper__headerGameModern_title p:nth-child(3),
.wrapper__headerGameModern_title p:nth-child(4),
.wrapper__headerGameModern_title p:nth-child(5) {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.wrapper__rules {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  padding: 10px;
  border: 2px solid #8a8ea9;
  background-color: rgba(138, 142, 169, 0.4509803922);
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.1s;
  position: absolute;
}
.wrapper__rules:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.wrapper__rules:active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.wrapper__backToMenu {
  position: absolute;
  bottom: 20px;
  right: 140px;
  width: 100px;
  height: auto;
  padding: 10px;
  border: 2px solid #8d5de1;
  border-radius: 5px;
  outline: none;
  background-color: rgba(141, 93, 225, 0.4352941176);
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.1s;
  position: absolute;
}
.wrapper__backToMenu:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.wrapper__backToMenu:active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.wrapper__modal {
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(10, 16, 32, 0.5411764706);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.wrapper__modal_rulesBlock {
  width: 350px;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.wrapper__modal_rulesBlock_titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper__modal_rulesBlock_titleBlock_title {
  font-size: 20px;
  font-weight: bold;
  color: #38405e;
}
.wrapper__modal_rulesBlock_titleBlock_close {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #cecfd4;
  transition: all 0.1s;
}
.wrapper__modal_rulesBlock_titleBlock_close:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.wrapper__modal_rulesBlock_titleBlock_close:active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.wrapper__modal_rulesBlock_rulesBox {
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__modal_rulesBlock_rulesBox_imgModern {
  width: 320px;
  height: 320px;
}

.restart {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 22px;
  font-weight: bold;
  background-color: #4ebbd0;
}
.restart:hover {
  transform: translate(-50%) scale(1.03);
  transition: all 0.1s;
}
.restart:active {
  transform: translate(-50%) scale(0.97);
  transition: all 0.1s;
}

.modalGoHome {
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 16, 32, 0.5411764706);
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modalGoHome__block {
  width: 300px;
  height: 300px;
  background-color: #172041;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #4ebbd0, 0px -5px 10px #4ebbd0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modalGoHome__block p {
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: white;
  font-weight: bold;
  height: 100px;
}
.modalGoHome__block_navBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.modalGoHome__block_navBlock button:nth-child(1),
.modalGoHome__block_navBlock button:nth-child(2) {
  width: 75px;
  height: 35px;
  outline: none;
  cursor: pointer;
}
.modalGoHome__block_navBlock button:nth-child(1):hover,
.modalGoHome__block_navBlock button:nth-child(2):hover {
  transform: scale(1.03);
  transition: all 0.1s;
}
.modalGoHome__block_navBlock button:nth-child(1):active,
.modalGoHome__block_navBlock button:nth-child(2):active {
  transform: scale(0.97);
  transition: all 0.1s;
}
.modalGoHome__block_navBlock button:nth-child(1),
.modalGoHome__block_navBlock button:nth-child(2) {
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.modalGoHome__block_navBlock button:nth-child(1) {
  background-color: rgba(74, 108, 22, 0.732);
  border: 3px solid greenyellow;
  color: white;
}
.modalGoHome__block_navBlock button:nth-child(2) {
  background-color: rgba(148, 17, 0, 0.574);
  border: 3px solid rgb(255, 0, 0);
  color: white;
}

@media (max-width: 768px) {
  .wrapper__headerMenu, .wrapper__headerGameStandard, .wrapper__headerGameModern {
    width: 95%;
  }
  .wrapper__backToMenu {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    padding: 10px;
    border: 2px solid #8d5de1;
    border-radius: 5px;
    outline: none;
    background-color: rgba(141, 93, 225, 0.4352941176);
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.1s;
    position: absolute;
  }
  .wrapper__backToMenu:hover {
    transform: scale(1.03);
    transition: all 0.1s;
  }
  .wrapper__backToMenu:active {
    transform: scale(0.97);
    transition: all 0.1s;
  }
}
@media (max-width: 425px) {
  .wrapper__headerMenu p:nth-child(1),
  .wrapper__headerMenu p:nth-child(2),
  .wrapper__headerMenu p:nth-child(3) {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .wrapper__headerGameStandard_title p:nth-child(1),
  .wrapper__headerGameStandard_title p:nth-child(2),
  .wrapper__headerGameStandard_title p:nth-child(3) {
    font-size: 20px;
  }
  .wrapper__headerGameStandard_score {
    height: 90px;
    width: 90px;
  }
  .wrapper__headerGameStandard_score p:nth-child(1) {
    font-size: 14px;
  }
  .wrapper__headerGameStandard_score p:nth-child(2),
  .wrapper__headerGameStandard_score p:nth-child(3),
  .wrapper__headerGameStandard_score p:nth-child(4) {
    color: #565468;
    font-size: 12px;
    font-weight: bold;
  }
  .wrapper__headerGameStandard_blockResult {
    width: 95%;
    height: 400px;
    margin-top: 50px;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock_userPaper, .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors, .wrapper__headerGameStandard_blockResult_userItemBlock_userRock {
    width: 150px;
    height: 150px;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock_userPaper img, .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors img, .wrapper__headerGameStandard_blockResult_userItemBlock_userRock img {
    width: 50px;
    height: 50px;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock p {
    font-size: 16px;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUPaper, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock {
    width: 150px;
    height: 150px;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUPaper img, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors img, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock img {
    width: 50px;
    height: 50px;
  }
  .wrapper__headerGameModern_title p:nth-child(1),
  .wrapper__headerGameModern_title p:nth-child(2),
  .wrapper__headerGameModern_title p:nth-child(3),
  .wrapper__headerGameModern_title p:nth-child(4),
  .wrapper__headerGameModern_title p:nth-child(5) {
    font-size: 15px;
  }
  .wrapper__headerGameModern_score {
    height: 90px;
    width: 90px;
  }
  .wrapper__headerGameModern_score p:nth-child(1) {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .wrapper__headerGameModern_score p:nth-child(2) {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .wrapper__headerMenu p:nth-child(1),
  .wrapper__headerMenu p:nth-child(2),
  .wrapper__headerMenu p:nth-child(3) {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .wrapper__headerGameStandard {
    width: 95%;
  }
  .wrapper__headerGameStandard_title p:nth-child(1),
  .wrapper__headerGameStandard_title p:nth-child(2),
  .wrapper__headerGameStandard_title p:nth-child(3) {
    font-size: 18px;
  }
  .wrapper__headerGameStandard_score {
    height: 80px;
    width: 80px;
  }
  .wrapper__headerGameStandard_score p:nth-child(1) {
    font-size: 12px;
  }
  .wrapper__headerGameStandard_score p:nth-child(2),
  .wrapper__headerGameStandard_score p:nth-child(3),
  .wrapper__headerGameStandard_score p:nth-child(4) {
    color: #565468;
    font-size: 11px;
    font-weight: bold;
  }
  .wrapper__headerGameStandard_choiseBlock {
    width: 95%;
    height: 270px;
  }
  .wrapper__headerGameStandard_choiseBlock_firstItem {
    width: 120px;
    height: 120px;
    border: 13px solid #5671f5;
    box-shadow: 0px 3px 0px #2945c1;
  }
  .wrapper__headerGameStandard_choiseBlock_secondItem {
    width: 120px;
    height: 120px;
    border: 13px solid #efa319;
    box-shadow: 0px 3px 0px #c56d1f;
  }
  .wrapper__headerGameStandard_choiseBlock_thirdItem {
    width: 120px;
    height: 120px;
    border: 13px solid #dd4260;
    box-shadow: 0px 3px 0px #a01737;
  }
  .wrapper__headerGameStandard_blockResult {
    width: 95%;
    height: 300px;
    margin-top: 20px;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock p {
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock_userPaper, .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors, .wrapper__headerGameStandard_blockResult_userItemBlock_userRock {
    width: 120px;
    height: 120px;
    border: 13px solid #5671f5;
    box-shadow: 0px 5px 0px #2945c1;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock_userPaper img, .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors img, .wrapper__headerGameStandard_blockResult_userItemBlock_userRock img {
    width: 40px;
    height: 40px;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock_userScissors {
    border: 13px solid #efa319;
    box-shadow: 0px 5px 0px #c56d1f;
  }
  .wrapper__headerGameStandard_blockResult_userItemBlock_userRock {
    border: 13px solid #dd4260;
    box-shadow: 0px 5px 0px #a01737;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock p {
    font-size: 12px;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUPaper, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock {
    width: 120px;
    height: 120px;
    border: 13px solid #5671f5;
    box-shadow: 0px 5px 0px #2945c1;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUPaper img, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors img, .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock img {
    width: 40px;
    height: 40px;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPUScissors {
    border: 13px solid #efa319;
    box-shadow: 0px 5px 0px #c56d1f;
  }
  .wrapper__headerGameStandard_blockResult_CPUItemBlock_CPURock {
    border: 13px solid #dd4260;
    box-shadow: 0px 5px 0px #a01737;
  }
  .wrapper__modal_rulesBlock {
    margin: 0px 20px;
    width: 320px;
  }
  .wrapper__modal_rulesBlock_rulesBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper__modal_rulesBlock_rulesBox img {
    width: 250px;
    height: 230px;
  }
  .wrapper .restart {
    bottom: 90px;
  }
}/*# sourceMappingURL=App.css.map */